- if defined?(unsubscribe)
  - path = '/unsubscribe'
  - submit_text = 'Unsubscribe'
- else
  - path = '/users'
  - submit_text = 'Signup'
  
#email_form_container
  - form_for :user, :url => path, :html => { :id => :email_form } do |f|
    = f.hidden_field :password, :value => 'password'
    = f.hidden_field :password_confirmation, :value => 'password'
    %p
      = f.text_field :email
      %span.submit_container
        = f.submit submit_text, :class => :submit
        = image_tag "progress.gif", :class => :progress_spinner

