#song
  %h2
    = @song.title
    %span.header-note
      = link_to "recordings (#{@song.recordings.count})", recordings_path
    

  #recordings
    %h4.close-bottom
      Notes:
    
    = textilize @song.notes

    %ul
      - @song.recordings.each do |recording|
        %li
          = link_to recording.recording_session.title, recording.recording_session
          ,
          = recording.recording_session.start_date

  #lyrics
    %h4.close-bottom Lyrics:
    =textilize @song.lyrics
  


