#song
  %p
    Comp date:
    = @song.composition_date.strftime("%b %e, %Y")
    
  - unless @song.recordings.public.blank?
    = render :partial => 'recordings/recordings', :locals => { :recordings => @song.recordings.public, :showing => 'song' }

  %input.close-bottom{ :value => @song.bitly }

  - if !@song.notes.blank?
    %h4.close-bottom
      Notes:
    = textilize @song.notes

  #song_container
    #lyrics
      %h4.close-bottom Lyrics:
      =textilize @song.lyrics

    #song_comments
      %h4.close-bottom
        = "Comments (#{@song.comments.count})"
        = link_to image_tag('icons/rss_16.png'), song_comments_path(@song, :format => :rss), :id => :comment_rss
      .comments
        = render :partial => 'comments/comment', :collection => @song.comments

      = render :partial => 'comments/comment_form'






