- @song.title
#song
  - unless @song.recordings.blank?
    = render :partial => 'recordings/recordings', :locals => { :recordings => @song.recordings, :showing => 'song' }

    %h4.close-bottom
      Notes:

    = textilize @song.notes

  #song_container

    #lyrics
      %h4.close-bottom Lyrics:
      =textilize @song.lyrics

    #song_comments
      %h4.close-bottom
        = "Comments (#{@song.comments.count})"
      = link_to image_tag('icons/rss_16.png'), song_comments_path(@song, :format => :xml), :id => :comment_rss, :class => :right
      .comments
        = render :partial => 'comments/comment', :collection => @song.comments

      = render :partial => 'comments/comment_form'






