%tr{:class => cycle('even','odd')}
  %td.info
    = gig.time_start.to_s(:month_day)
    \-
    = gig.venue.address.city_state
    %br
    = link_to gig.venue.name, gig.venue.url, :class => :external
    
  %td.auto_external
    = truncate(gig.description, :length => 100)
    = link_to('Details', gig)