- @page_header = "Live @ #{@gig.venue.name}"
.gig
  %h3
    %strong
      = link_to gig.venue.name, gig.venue.url
    /
    = show_time(gig)
  %p 
    = textilize gig.description
  
  - if defined?(full)
    %p 
      = gig.venue.location

    - if !gig.venue.address.nil?
      %p 
        = full_address(gig.venue.address)

    - if !gig.venue.directions.blank?            
      %p 
        = textilize gig.venue.directions
