- @page_header = "Live @ #{link_to(gig.venue.name, gig.venue.url, :class => :external)}"
.gig
  - if !gig.venue.address.nil?
    %p
      %em
        = full_address(gig.venue.address)
  %p
    %strong
      When:
    = show_time(gig)
  
  .gig_description
    = textilize gig.description
  
  - if defined?(full)
    %p 
      = gig.venue.location

    - if !gig.venue.description.nil?
      %strong
        Venue Description:
      = textilize(gig.venue.description)

    - if !gig.venue.directions.blank?                  
      .gig_directions
        %strong
          Directions:      
        = textilize gig.venue.directions
