#feeds
  %ul
    %li
      = link_to "Songs (#{Song.count})", songs_url(:format => :rss)
    %li
      = link_to "Recordings (#{Recording.count})", recordings_url(:format => :rss)
    %li
      = link_to "Gigs (#{Gig.count})", gigs_url(:format => :rss)
    %li
      = link_to "Comments (#{Comment.count})", comments_url(:format => :rss)      