!!! XML
!!! Strict
%html{html_attrs}
  %head
    %title= page_title
    = javascript_include_tag "prototype", "effects", "controls"
    = admin_assistant_includes :theme => 'activescaffold'

  %body#admin
    #container.wrap
      %h1
        Admin Area
      %p
        = link_to "Public Side", root_path

    #admin_nav
      %ul
        %li
          %a{:href => '/admin/songs'} Songs
        %li
          %a{:href => '/admin/recordings'} Recordings
        %li
          %a{:href => '/admin/recording_sessions'} Recording Sessions
        %li
          %a{:href => '/admin/gigs'} Gigs
        %li
          %a{:href => '/admin/venues'} Venues
        %li
          %a{:href => '/admin/addresses'} Addresses
        %li
          %a{:href => '/admin/notifications'} Notifications
        %li
          %a{:href => '/admin/users'} Users
        %li
          %a{:href => '/admin/comments'} Comments
        %li
          %a{:href => '/admin/cms_pages'} CMS Pages
          
    #admin_content
      #flash_block
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => "#{name}" unless msg.blank?
      = yield
