!!! XML
!!!
%html{html_attrs}
  %head
    %title= page_title
    = meta "keywords", meta_keywords
    = meta "description", meta_description
    = stylesheet_link_tag 'screen', :media => 'screen'
    = stylesheet_link_tag 'print', :media => 'print'
    = sprockets_include_tag
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

  %body#dinshaw
    #container
      #header.row

        #nav
          %ul
            %li= link_to "Home", root_path
            %li= link_to "Songs", '/songs'
            %li.last= link_to "gigs", '/gigs'


        #social.external_img
          = link_to image_tag('icons/youtube_32.png'), 'http://www.youtube.com/user/dinshawmusic'
          = link_to image_tag('icons/facebook_32.png'), 'http://www.facebook.com/pages/Dinshaw/143653234540'
          = link_to image_tag('icons/twitter_32.png'), 'http://twitter.com/dinshawg'
          = link_to image_tag('icons/myspace_32.png'), 'http://www.myspace.com/dinshaw'
          = link_to image_tag('icons/rss_32.png'), feeds_path
        %h1 dinshaw

      #content
        #flash_block
          - flash.each do |name, msg|
            = content_tag :div, msg, :class => "#{name}" unless msg.blank?

        - if @display_email_list
          .row
            = render :partial => "users/new_email_only"

        %div{ :id => controller.controller_name }
          %h2.page_header= page_header
          = textilize @cms_page.body
          = yield

      #footer_spacer
    #footer.row
      %ul
        %li
          = link_to "Contact", contact_path
        %li.last
          = link_to "Privacy Policy", privacy_path
        %li
          = link_to "Unsubscribe", unsubscribe_path
        - if current_user
          %li
            = link_to "Logout", logout_path
            |
            = link_to "Admin", admin_songs_path
        - else
          %li
            = link_to "Login", login_path          
    = render :partial => 'shared/google_analytics'